:root {
  --text-color: #222222;
  --text-hover-color: #f65e39;
  --logo-color: #555;
}

::-webkit-input-placeholder {
  color: var(--text-color);
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6rem;
}
* {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

/* Animation */
@keyframes hover {
  from {
    color: var(--text-color);
  }
  to {
    color: var(--text-hover-color);
  }
}
/* Responsive */
.grid {
  width: 1300px;
}
