.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1.4rem;
}
.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1536px;
}
.header-left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left-section__logo {
  width: 70px;
  height: 70px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  color: var(--text-color);
}
.header-left-section__logo:hover {
  color: var(--text-hover-color);
  animation: hover linear 0.3s;
}
.header-left-section__logo-svg {
  fill: currentColor;
  stroke: none;
}
.header-left-section__search {
  margin-left: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  height: 50px;
  width: 600px;
  padding: 5px;
  box-shadow: 1px 1px 4px rgba(0 0 0 / 20%);
}
.header-left-section__search-input {
  flex: 1;
}
.header-left-section__search-input input {
  border: none;
  outline: none;
}
.header-left-section-input {
  border: none;
  outline: none;
}
.header-left-section__search-input-icon {
  margin: 0 5px 0 10px;
  font-size: 1.5rem;
  color: #a5a5a5;
}
.header-left-section__search-filter {
  width: 115px;
  border-left: 1px solid rgb(230, 230, 230);
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
}
.header-left-section__search-filter-icon {
  padding-right: 10px;
}

.header-left-section__search-btn {
  height: 35px;
  width: 55px;
  border: none;
  background-color: #555;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}
.header-left-section__search-btn-icon {
  font-size: 1.6rem;
}

.header-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right-section__nav-list {
  display: flex;
  align-items: center;
}
.header-right-section__nav-list-item {
  display: block;
  padding: 0 15px;
  font-weight: 500;
}
.header-right-section__nav-list-item-link {
  position: relative;
  color: var(--text-color);
}
.header-right-section__nav-list-item-link-mark::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -7px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fb9236;
}
.header-right-section__nav-list-item-link:hover {
  color: var(--text-hover-color);
  animation: hover linear 0.2s;
}

.nav__item-country {
  background-color: #f6f6f6;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px 5px 5px;
  border-radius: 2rem;
}
.nav__item-country-img {
  width: 25px;
  height: 25px;
  background: url(../img/2560px-Flag_of_Vietnam.svg.png) no-repeat center /
    cover;
  border-radius: 50%;
  margin-right: 10px;
}
.nav__item-country-name {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}
.nav__item-country-name::after {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-25%);
  z-index: 1;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent;
}
/* CONTAINER */
.container {
  margin-top: 120px;
}
/* Slider */
.container__slider {
  height: 290px;
  background: url(../photo/slider/file.png) no-repeat center / cover;
  border-radius: 2rem;
  margin-bottom: 30px;
}
/* Intro */
.container__content-intro {
  display: flex;
  flex-direction: column;
}
.container__content-intro span {
  padding: 5px;
}
.container__content-intro a {
  color: #000;
  text-decoration: underline;
  margin: 0 5px;
}
.container__content-intro a:hover {
  color: var(--text-hover-color);
  animation: hover linear 0.2s;
}
/* Place List */
.container__content-place-list {
  margin-top: 50px;
}

.container__content-place {
  margin-top: 20px;
  position: relative;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.container__content-place-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container__content-place-about {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #fff;
}
.container__content-place-name {
  font-size: 2.3rem;
}
.container__content-place-description {
  font-size: 1.5rem;
}
.place__room-quantity {
  font-size: 1.8rem;
  margin-right: 10px;
}
